*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  color: #B7C5CE
}
a:hover {
  color: #006DB2
}
.header_img {
  background: linear-gradient(rgba(17, 117, 192, 0.75), rgba(17, 117, 192, 0.75)), url("images/cover.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 523px;
  background-position: center center;
}
.header_container {
  max-width: 1026px;
  margin: 0 auto;
  position: relative;
}
.header_main {
  text-align: center;
  margin-top: 130px;
  margin-left: -7px;
  letter-spacing: -2px;
}
.header_main h1 {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 103px;
  margin: 0;
  font-weight: 500;
  letter-spacing: -3px;
}
.header_main h5 {
  color: #003752;
  font-family: 'Open Sans', sans-serif;
  margin-top: -16px;
  font-size: 15px;
  font-weight: 400;
  margin-right: 7px;
  letter-spacing: .1px;
}
.header_top_left {
  padding-top: 6px;
  display: inline-block;
}
.header_container a:hover {
  color: white;
}
.header_top_right {
  position: absolute;
  top: 17px;
  right: 0;
}
.header_img a {
  text-decoration: none;
  color: #003752
}
.header_top_left img {
  display: inline-block;
  vertical-align: middle;
}
.header_top_left span {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 2px;
  padding-left: 1px;
  transition: color 300ms;
}
.header_top_right img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
  margin-left: -5px;
}
.header_top_right span {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-left: 11px;
  transition: color 300ms;
}
.content {
  max-width: 1000px;
  margin: 0 auto;
}
.content .left {
  width: 61%;
  margin-top: 33px;
  margin-left: 13px;
}
.content h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 74px;
  margin: 0;
  color: #003753;
}
.left_blurb {
  margin-top: 3px;
  margin-left: 4px;
}
.left_profile_pic img {
  border-radius: 100%;
  max-height: 22px;
  vertical-align: middle;
}
.left_name {
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  color: #006DB2;
  font-weight: 600;
  font-size: 12px;
}
.left_date {
  vertical-align: middle;
  color: #A0B1BD;
  font-size: 13px;
}
.left {
  display: inline-block;
}
.left h2 {
  letter-spacing: 1px;
}
.left p {
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  font-size: 15px;
  letter-spacing: .1px;
}
.left_info_1 {
  margin-top: 36px;
}
.left_info_1 p:nth-child(2) {
  margin-top: 30px;
}
.left_text_split {
  border-left: 2px solid #D2D2D2;
  height: 56px;
  position: relative;
  left: 6px;
  margin-top: 22px;
}
.left_text_split span {
  color: #006DB2;
  position: relative;
  left: 17px;
  top: 17px;
  font-size: 27px;
  letter-spacing: -.9px;
}
.left_info_2 {
  margin-top: 30px;
}
.left_info_2 p:nth-child(2) {
  margin-top: 33px;
}
.left_buttons img, .left_buttons span {
  vertical-align: middle;
}
.left_buttons > span span:first-child {
  background-color: #5D676E;
  transition: background-color 300ms;
  height: 30px;
  width: 33px;
  display: inline-block;
}
.left_buttons .first_button img {
  position: relative;
  left: 3px;
  top: 2px;
}
.left_buttons .second_button img {
  position: relative;
  left: 3px;
  top: 2px;
}
.left_buttons .third_button img {
  position: relative;
  left: 3px;
  top: 2px;
}
.left_buttons > span {
  background-color: #A0B1BD;
  transition: background-color 300ms;
  height: 30px;
  display: inline-block;
}
.left_buttons > span:hover {
  background-color: #006DB2;
}
.first_button_container:hover .first_button {
  background-color: #003652;
}
.second_button_container:hover .second_button {
  background-color: #003652;
}
.third_button_container:hover .third_button {
  background-color: #003652;
}
.left_buttons a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
.left_buttons {
  margin-top: 24px;
  margin-left: 3px;
  margin-top: 21px;
  margin-left: 2.5px;
}
.first_button_container {
  width: 158px;
}
.second_button_container {
  width: 128px;
  margin-left: 6px;
}
.third_button_container {
  margin-left: 6px;
  width: 154px;
}
.left_buttons > span span:last-child {
  padding-left: 13px;
}
.content .right {
  display: inline-block;
  width: 31%;
  vertical-align: top;
  text-align: center;
  top: 57px;
  left: 83px;
  position: relative;
  max-width: 278px;
}
.right_profile_pic img, .right_profile_pic {
  height: 84px;
  width: 84px;
  border-radius: 100%;
  margin: 0 auto;
}
.right_profile_pic::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 93, 147, .5);
  transition: background-color 300ms;
  max-height: 84px;
  max-width: 84px;
  border-radius: 100%;
  margin: 0 auto;
}
.right_profile_pic:hover::after {
  background-color: rgba(145, 145, 145, 0);
}
.right_name {
  font-family: 'Open Sans', sans-serif;
  color: #006DB2;
  font-weight: 600;
  margin-top: 12px;
}
.right a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.right_large_img {
  margin-top: 52px;
  position: relative;
  height: 300px;
}
.right_large_img span a {
  border-bottom: 1px solid #A0B1BD;
  color: #B7C5CE;
}
.right_large_img span {
  position: absolute;
  right: 2px;
  bottom: -22px;
}
.right_large_img span a {
  text-decoration: none;
}
.right_large_img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 93, 147, .5);
  transition: background-color 300ms;
}
.right_large_img:hover::after {
  background-color: rgba(145, 145, 145, 0);
}
.right_heading {
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  letter-spacing: -0.2px;
  font-weight: 400;
}
.right_heading_container {
  margin-top: 69px;
}
.right_heading_container h5 {
  color: #106DB3;
  margin: 0;
  letter-spacing: -.3px;
}
.right_heading_text {
  text-align: left;
  color: #A0B1BD;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 4px;
  line-height: 24px;
  letter-spacing: -0.4px;
}
.page_break {
  border-bottom: 1px solid #E0E6E9;
}
footer {
  margin-top: 68px;
  min-height: 100%;
  width: 100%;
}
footer h5 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 66px;
  font-weight: 400;
  letter-spacing: -1.5px;
  margin: 0;
}
.header_heading {
  margin-top: 20px;
  margin-right: 3px;
}
.img_wrapper {
  margin-top: 28px;
  padding: 0;
  font-size: 0;
  transition: color 300ms;
}
.img_wrapper_text {
  max-width: 90%;
  font-size: 30px;
  position: absolute;
  font-family: 'Oswald', sans-serif;
  bottom: 12px;
  left: 17px;
  line-height: 37px;
  transition: color 300ms;
}
.img_wrapper div {
  display: inline-block;
  width: 25%;
  position: relative;
}
.img_wrapper img {
  width: 100%;
  height: auto;
}
.img_wrapper a {
  color: black;
}
.img_wrapper div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 93, 147, .5);
  transition: background-color 300ms;
}
.img_wrapper div:hover::after {
  background-color: rgba(145, 145, 145, 0);
}
.img_wrapper div:hover {
  color: white;
}
.footer_banner {
  height: 97px;
  background-color: #003753;
  position: relative;
  clear: both;
}
.footer_info_left {
  position: absolute;
  left: 11.6%;
  top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: -.5px;
  color: #A0B1BD
}
.footer_info_left span {
  vertical-align: middle;
  display: inline-block;
}
.footer_nav li {
  display: inline-block;
}
.footer_info_right {
  position: absolute;
  right: 12.5%;
  top: 38px;
}
.footer_nav {
  padding-left: 0;
  margin: 0;
}
.footer_nav a {
  text-decoration: none;
}
.footer_nav li {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: -.5px;
  color: #A0B1BD;
  transition: color 300ms;
}
.footer_nav li:hover {
  color: white;
}
.footer_nav span {
  color: #A0B1BD;
}
.img_event_1 span {
  position: absolute;
}
@media screen and (max-width: 990px) {
  .content .left {
    display: block;
    margin: 0 auto;
    text-align: left;
  }
  .content .right {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    left: 0;
  }
  .footer_info_left {
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
  }
  .footer_info_right {
    text-align: center;
    position: relative;
    right: 0;
    top: 0;
  }
  .footer_banner {
    padding: 13px;
  }
  .content .left {
    width: 85%;
  }
}
@media screen and (max-width: 625px) {
  .img_wrapper div {
    width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .left_buttons > span {
    display: block;
    margin: 10px auto auto auto;
  }
}